.ticker {
    overflow: hidden;
    white-space: nowrap;
    border: 1px solid var(--gold);
    border-left: none;
    border-right: none;
}

.ticker ul {
    display: inline-block;
    animation: ticker 20s linear infinite;
}

.ticker li {
    display: inline-block;
    font-weight: bold;
    font-size: 40px;
    padding-right: 1em;
}

@keyframes ticker {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-2000px);
    }
}

@media (max-width: 767px) {
    .ticker li {
        display: inline-block;
        font-weight: bold;
        font-size: 20px;
        padding-right: 0.5em;
    }

    @keyframes ticker {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(-900px);
        }
    }
}
