.home {
    height: calc(100vh - 58px); /* minus the navbar */
}

.home span {
    color: gold;
}

.title-container {
    padding-left: 40px;
    display: flex;
    flex-direction: row;
}

.title {
    font-size: 140px;
}

.sub-title {
    margin-left: 10px;
    font-size: 35px;
}

.intro {
    padding-left: 40px;
    width: 400px;

    font-family: 'Roboto Mono', monospace;
    letter-spacing: 8px;
    line-height: 2;
    text-align: justify;
}

.blink-caret {
    border-right: .15em solid gold;
    animation: blink-caret .75s step-end infinite;
}

.scroll-container {
    position: absolute;
    bottom: 40px;
    right: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;

    transform: rotate(-90deg);
}

.scroll-container a {
    color: var(--white);
    text-decoration: none;
}

@keyframes blink-caret {
    0% {
        border-color: transparent
    }

    50% {
        border-color: gold;
    }
}