.products-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    height: 100vh;
    padding: 40px;
}

.gallery-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: fit-content;
}

.images {
    margin: 0 6px 6px 0;
    border-radius: 10px;
    object-fit: cover;
    max-height: 169px;
}