:root {
    --black: #1D1E22;
    --white: #FDFDFD;
    --gold: #9C7244
}

.app {
    background-color: var(--black);
    height: 100vh;
    color: var(--white);
    font-family: 'Exo 2', sans-serif;
}

.title-container {
    padding-left: 40px;
    display: flex;
    flex-direction: row;
}

.title {
    font-size: 140px;
}

.sub-title {
    font-size: 35px;
}
