:root {
    --black: #1D1E22;
    --white: #FDFDFD;
    --gold: #9C7244;
}

.app {
    background-color: var(--black);
    height: 300vh;
    color: var(--white);
    font-family: 'Exo 2', sans-serif;
}
