.main-container {
    display: flex;
    flex-direction: column;
    /* 60px for the navbar */
    height: calc(100vh - 60px);
}

.pad-left {
    padding-left: 40px;
}

.title-container {
    display: flex;
}

.title {
    font-size: 140px;
}

.sub-title {
    font-size: 35px;
}

.bottom-container {
    position: relative;
    display: flex;
    flex: 1;

    box-sizing: border-box;
    padding: 40px;
    /* 327px is the top half up to the ticker */
    height: calc(100vh - 327px);

    justify-content: space-between;
    gap: 20px;
}

.intro {
    width: 500px;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    letter-spacing: 8px;
    line-height: 1.8;
    text-align: justify;
}

.blink-caret {
    border-right: .15em solid gold;
    animation: blink-caret 1.5s step-end infinite;
}

.image1 {
    width: calc(75% - 500px);
    max-height: 100%;
    object-fit: cover;
}

.image2-container {
    width: 25%;
    /* 270px aligns it with the title */
    margin-top: -270px;
}

.image2 {
    width: 100%;
}

.scroll-container {
    position: absolute;
    bottom: 70px;
    right: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;

    transform: rotate(-90deg);
}

.scroll-container a {
    color: var(--white);
    text-decoration: none;
}

.scroll-container a span {
    color: gold;
}

@keyframes blink-caret {
    0% {
        border-color: transparent
    }

    50% {
        border-color: gold;
    }
}

/* media changes */
@media (orientation: landscape) and (max-width: 915px) {
    .main-container {
        flex-direction: column;
        height: auto;
    }
}

/* 1180px is when image2 is squashed so much that it begins to look unpleasant */
@media (max-width: 1180px) {
    .image1 {
        width: calc(100% - 500px);
        object-fit: cover;
    }

    .image2-container {
        display: none;
    }

    .scroll-container {
        display: none;
    }
}

/* 915px is when intro is squashed so much that it begins to overflow */
@media (max-width: 915px) {
    .title {
        font-size: 70px;
    }

    .sub-title {
        font-size: 18px;
    }

    .bottom-container {
        display: flex;
        flex-direction: column;
        flex: 1;

        align-items: center;
        justify-content: space-evenly;
        padding: 20px;
    }

    .intro {
        width: 100%;
        font-size: 15px;
        letter-spacing: 4px;
        line-height: 2;
        text-align: center;
    }

    .image1 {
        width: 80%;
    }
}

/* 650px is when the intro text is closed to being squashed */
@media (max-height: 650px) {
    .intro {
        font-size: 15px;
        letter-spacing: 4px;
        line-height: 2;
    }

    .scroll-container {
        display: none;
    }
}
