.image1 {
    position: absolute;
    width: 700px;
    height: auto;
    right: 360px;
    top: 350px;
    z-index: 1;
}

.image2 {
    position: absolute;
    width: 300px;
    height: auto;
    right: 40px;
    top: 94px;
    z-index: 1;
}

@media screen and (max-width: 1600px) {
    .image1 {
        width: 400px;
        font-size: 1em;
    }
}

@media screen and (max-width: 1000px) {
    .image1 {
        display: none;
    }
}